body {
    font-family:Arial, sans-serif;
    font-size:14px;
}
a {
    text-decoration:none;
}
#nav_bar{
    display: flex;
    padding:20px;
    height:30px;
    align-items:center;
}
#nav_bar li{
    list-style-type:none;
    flex-grow:0;
}
#nav_bar li:nth-child(2){
    flex-grow:1;
}

#nav_bar a{
    width: 60px;
    color:rgba(0,0,0,.75);
    font-size:13px;
    padding:5px;
    
}
#nav_bar button{
    display:inline-block;
    color:white;
    font-size:13px;
    font-weight:bold;
    background-color:rgb(60, 122, 228);
    border:none;
    border-radius: 2px;
    text-align:center;
    height:30px;
    width:70px;
    
}
#logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:110px;
    height:92px;
}
#search_bar:hover {  
    border: solid 1px #CCC;
    box-shadow: 0px 0px 5px rgba(197, 196, 196, 0.9);    
    }

#search_bar{
    margin-top:30px;       
    margin-left:auto;
    margin-right:auto;
    display:flex;
    height:34px;
    width:400px;
    border:1px solid gray;
    border-radius: 20px;    
}
#search_buttons{ 
    padding-top:30px;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
    text-align:center;
}
#search_buttons button{
    border:1px solid white;
    border-radius:5px;
    background-color:#f8f9fa;
    color:rgba(0,0,0,.75);
    font-size:14px;
    line-height:27px;
    padding-right:16px;
    padding-left:16px;
}
#search_buttons button:hover{
    border:solid 1px #ccc;
    border-radius:5px;
    box-shadow: 0px 1px 1px rgba(197, 196, 196, 0.9);
}

li{
    display:inline;
}

footer{
    background:#f2f2f2;
    position:fixed;
    bottom:0;
    width:100%;
}
div.footer{
    width:auto;
    color:rgba(0,0,0,.54);
    border-top:1px solid #dadce0;
    padding:10px 0 10px 0; 
    display:flex;
}
footer ul{
    flex-grow:1;
}
#footer_link_cluster_right{
    text-align: right;
}
footer li{
    padding-left: 20px;
}
footer li:last-child{
    padding-right: 20px;
}    
footer a {
    color:rgba(0,0,0,.54);
}
footer p{
    padding-left: 20px;
    width:100px;
}